<%= current_user.email %>
<header style="float: left"><%= link_to "Home Page", calamities_path, class:"btn btn-secondary" %></header>
<h1>New Post</h1>
<% if @calamity.errors.any? %>
  <ul>
    <% @calamity.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @calamity do |form| %>

  <div class="w3-container w3-center">
    <div class="form">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="form-1">
      <%= form.label :address %>
      <%= form.text_field :address %>
    </div>
    <div class="form">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div>
      <%= form.label :unique_id %>
      <%= form.text_field :unique_id, value: @rand %>
    </div>
    <div>
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
    </div>

    <div class="btn-light">
      <%= form.submit 'Save', class:"btn btn-primary"%>
    </div>
    <%= link_to "Add Categories", categories_path, class:"btn btn-primary" %>


<% end %>
</div>