<%= current_user.email %>

<h1>show post id: <%= @calamity.id %></h1>
<table class="table table-bordered">
  <thead>
  <td>Id</td>
  <td>Title</td>
  <td>Content</td>
  <td>Comment</td>
  </thead>
  <tr>
    <td><%= @calamity.id %></td>
    <td><%= @calamity.title %></td>
    <td><%= @calamity.content %></td>
    <td>
      <% @calamity.comments.each do |comment| %>
        <ul style="display: flex">
          <%= comment.content %>
          <%= link_to 'Edit', edit_calamity_comment_path(@calamity, comment), class: "btn btn-secondary" %>
        <%= button_to 'Delete', calamity_path(@calamity), method: :delete, class: "btn btn-danger" %></ul>
      <% end %>
    </td>
  </tr>
  <br>
</table>
<%= link_to 'Home', calamities_path, class:"btn btn-primary bi bi-arrow-return-left"%>
<%= link_to 'Add Comment', new_calamity_comment_path(@calamity), class: "btn btn-warning" %>


